#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .app-container {
    gap: 1rem;
    padding: 0.5rem;
  }
}
